{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SURCTF</h1>
</div>

<div class="row">
    <div class="col-md-12">
    <p>
        SURCTF - это командные соревнования по информациной безопасности, которые проводятся внутри университета СурГУ для студентов и школьников.
        Команда организаторов SURCTF является группой активных студентов, которые активно участвуют в различных CTF и организуют их.
        Только за прошлый год было проведены следующие мероприятия:
    </p><br>
        <ul>
            <li>Курсы SURCTF LITE</li>
            <li>SURCTF LITE</li>
            <li>Курсы SURCTF PRO</li>
            <li>SURCTF PRO</li>
        </ul>
        <p>Перед каждыми соренованиями наша команда проводили курсы, которые помогли многим студентам и школьникам успешно поучаствовать в них и победить.</p>
        <h2>
            Наша команда организаторов:
        </h2>
        <p>
            Наша команда организаторов достаточно разношерстна и состоит как из студентов, так и выпусников вузов:
        </p>
        <p>
            <ul>
                <li>Сергей Кацур - студент 4 курса СурГУ, тимлид</li>
                <li>Егор Захаров - студент 2 курса ИТМО, создатель тасков</li>
                <li>Максим Заказчик - студент 2 курса ИМТО, создатель тасков</li>
                <li>Юнусов Эдуард - студент 3 курса СурГУ, создатель тасков</li>
                <li>Николая Хворов - студент 3 курса СурГУ, создатель тасков</li>
                <li>Евгений Живайкин - разработчик платформы</li>
                <li>Артур Валиев - разработчик дизайна соревнования</li>
            </ul>
        </p>
    </p>
    </div>
</div>

<!--
<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
-->
{% endblock %}
